* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.black-theme{
    background-color: #353D54;
    color:white;
}
.white-theme{
    background-color: #d9e2f3;
    color:black;   
}
.data-time-exit{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    
}
.data-time{
    margin-top: 20px;
    margin-left: 20px;
}
.exit{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 20px;
}
.img-exit-white{
    width:40px; 
    filter:invert(100%);
}
.img-exit-black{
    width:40px; 
}
.fio{
   font-size: 160%;
   font-weight: bold; 
}
.date-of-birth{
    font-size: 140%;
}
.card{
    background-color: #5B6E96;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 91%;
    align-items: left;
    padding: 24px;
    border-radius: 4px;
    margin-bottom: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
.img-1{
    margin-top: 20px;
    width: 160px;
}

.img-2{
    margin-top: 20px;
    width: 200px;
}
.block{
    background-color: #5B6E96;
    font-family: DejaVu Sans Mono, monospace;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}
.block-1{
    width: 35%;
    max-height: 100%;
    border-radius: 0 2% 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-2{
    
    width: 65%;
    height: 100%;
    display: flex;
  
}
.block-3{
    width: 70%;
    height: 70%;
    margin-left: 80px;
    margin-top: 180px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;   
}

.move-box{
    background-color: rgb(226, 139, 7);
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    border-radius: 4px;
    font-size: 26px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
.information-for-users{
    width: 95%;
    height: 50%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;   
      
}
.info-box{
    
    background-color: #5B6E96;
    text-align: center;
    align-items: center;
    padding-top: 14px;
    border-radius: 4px;
    font-size: 20px;
    margin: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
.logo{
    
    background-color: #333333;
    width: 18%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 2%;

}
.logo-img{
    width: 100%;
}

